@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 20% 7%;
  --foreground: 0 0% 95%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
